*.-header{
  text-align: center;
}

.game-result{
  text-align: center;
}

.navbar-brand-center {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.back-btn {
  z-index: 1031;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  font-size: larger;
}

.example-card {
  max-width: 400px;
}

.view-details-btn {
  position: fixed;
  bottom: 0;
  z-index: 2;
}
