<!-- Heading End -->

<!-- SearchBox -->
<div class="row searchBox">
  <div class="col-sm-12 searchBox-inner">
    <div class="form-group has-feedback">
      <input id="searchText"
             [(ngModel)]="searchText"
             (keyup)="search(searchText)"
             type="text"
             class="form-control"
             name="searchText"
             placeholder="Search">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </div>
</div>


<div *ngIf="selected.length > 0 " style="margin-bottom: 30px" class="container-fluid selected_user" >
  <!--<div class="row">-->
  <!--<div class="col-8" >Number of Friends:</div>-->
  <!--<div class="col-4 card">-->
    <!--<div class="card-header">-->
      <!--5-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div *ngFor="let name of selected; index as i" style="margin: 10px; margin-bottom: 20px">
      <div class="avatar-icon" style="margin-top: 20px">
        <span (click)="unselect(name, i)"><i style="margin-left: 40px;color: red" class="fa fa-times-circle" aria-hidden="true"></i></span>
        <img src="{{name.src}}" style="position: absolute; z-index: -1; margin-left: -48px;margin-top: 3px;" width="100" height="100">
      </div>
    </div>
  </div>
</div>


<div class="card" style="background-color: whitesmoke;margin-bottom: 20px">
  <div class="card-header">
    Friends
  </div>
</div>
  <div class="card-body" style="width: 100%">
    <div class="list-group" >
      <div *ngFor="let person of filteredPeople; index as i">
        <div (click)="select(person, i)" class="list-group-item">
          <div class="row">
            <!--<div class="avatar-icon col-1 col-sm-2" style="margin-left: 1%">-->
            <div class="avatar-icon col-xl-1 col-2 " style="margin-left: 1%">
              <img width="10px" src={{person.src}}>
            </div>
            <!--<div style="left: 0; position: relative;" class="col-10 col-xs-8">-->
            <div style="left:10%; position: relative;" class="col-xl-10 col-8 ">
              {{person.name}}
              <br>
              {{person.email}}
            </div>
            <!--<span class="col-1 col-xs-2" style="right: 0; position: absolute;margin-top: 15px">-->
            <span class="col-xl-1 col-2" style="right: 0; position: absolute;margin-top: 15px">
              <i style="" class="fa fa-plus" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
