.back-btn {
  z-index: 1031;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  font-size: larger;
}

.navbar-brand-center {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.roomNameBox {
  margin: 5px;
  display: table;
  width: calc(100% - 10px);
  text-align: center;
  font-style: italic;
}

.avatar-icon img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
