.navbar-brand-center {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.roomNameBox {
  margin: 5px;
  display: table;
  width: calc(100% - 10px);
  text-align: center;
  font-style: italic;
}
