.navbar-brand-center {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.-header{
  text-align: center;
}

.card{
  text-align: center;
  position: relative;
  top: 35%;
  left: 30%;
  width: 40%;
}

.start-voting-btn {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

