<button type="button"
        (click)="goBack()"
        class="btn back-btn">
  <i class="fa fa-chevron-left"></i>
</button>

<nav class="navbar navbar-light bg-light fixed-top">
  <h3 class="navbar-brand navbar-brand-center">
    Game Details
  </h3>
</nav>
<div class="col-12" style="height:64px;"></div>

<div class="container">
  <div class="row">
    <!--<div class="col-1">-->
      <!--<div class="back-button">&#8592;</div>-->
    <!--</div>-->
    <div class="col-5">
      <div class="img-left">
        <img class="imagethumbnail align-self-middle"
             src="{{game.thumbnail}}"
              alt="Image of {{game.name}}">
      </div>
    </div>
    <div class="col-7">
      <div class="game-name">{{game.name}}</div>
    </div>
    <!--<div class="col-1">-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="game.minPlayers && game.maxPlayers"><b>Number of Players: </b>
        <span *ngIf="game.minPlayers !== game.maxPlayers">{{game.minPlayers}} to {{game.maxPlayers}}</span>
        <span *ngIf="game.minPlayers === game.maxPlayers">{{game.minPlayers}}</span>
      </div>
      <div *ngIf="game.playingTime"><b>Average Game Length:</b> {{game.playingTime}} min</div>
      <div *ngIf="game.complexity"><b>Complexity:</b> {{game.complexity}}</div>
      <div *ngIf="game.category"><b>Category:</b> {{game.category}}</div>
      <div *ngIf="game.mechanics && game.mechanics.length > 0"><b>Mechanics:</b> {{game.mechanics}}</div>
      <div *ngIf="game.description" [innerHTML]="'<b>Description: </b>' + game.description"></div>
    </div>
  </div>
</div>
