.img-left{
  display: inline-block;
  position: relative;
  float: left;
  vertical-align:center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.imagethumbnail {
  max-width: 100%;
  max-height: 300px;
  object-fit: fill;
}

.game-name {
  text-align: center;
  margin:0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.navbar-brand-center {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.back-btn {
  z-index: 1031;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  font-size: larger;
}

.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

#toprow {
  min-height: 150px;
}
