
<button type="button"
        (click)="goBack()"
        class="btn back-btn">
  <i class="fas fa-home"></i>
</button>

<nav class="navbar navbar-light bg-light fixed-top">
  <h2 class="navbar-brand navbar-brand-center">
    Voting
  </h2>
</nav>
<div class="col-12" style="height:64px;"></div>
<mat-list>
  <mat-list-item *ngFor="let game of games">
    <mat-checkbox style="position: absolute" (change)="selectedGame(game)">

    </mat-checkbox>
      <img style="margin-left: 40px" matListAvatar src="{{game.thumbnail}}" alt="No Image">
      <h3 matLine> {{game.name}} </h3>
      <p matLine>
        <i class="fas fa-user-friends"></i> {{game.minPlayers}} to {{game.maxPlayers}}
        &nbsp;<i class="far fa-clock"></i> {{game.playingTime}} min
      </p>
      <button type="button"
              (click)="goToGameDetails(game.gameId)"
              class="btn info-button">
        <i class="fas fa-info-circle"></i>
      </button>
  </mat-list-item>
</mat-list>

<div class="col-12" style="height:64px;"></div>

<button type="button"
        [ngClass]="{disabled: result.length === 0}"
        (click)="submitVote()"
        class="btn btn-dark btn-lg btn-block start-voting-btn">
  Submit Vote
</button>
